{% extends 'main/layout.html' %}

{% block title %}Авторизация{% endblock %}

{% block content %}
<form class="register_form">
<div class="logo_form"></div>
<p class="words_for_form">Вход в профиль PassSec</p>
<p class="words_for_form2">Лучший сейф для ваших данных</p>

    <div class="div_form">
        <label for="name">Адрес эл. почты</label><br>
        <input class="register_form2"><br><br>
        <label for="name">Пароль</label><br>
        <input class="register_form2">
        <!-- <p class="register_form2">Введите адрес эл. почты</p><br><br>
        <br><p class="register_form2">Введите пароль</p><br> -->
    </div>
    <button class="button_form">Войти</button>
    <p class="words_for_form3">Или войдите через</p>
    <div class="firms_logo"></div>
    <p class="words_for_form4">Нет аккаунта?<a href='{% url 'register' %}'>Регистрация</a></p>
</form>

{% endblock %}