{% extends 'main/layout.html' %}

{% block title %}Создание пароля{% endblock %}
{% block content %}

<form class="create_form">
<p class="create_form_header">Генератор паролей</p>
    <div class="tools"><p class="tools_words">Настройки Генератора</p></div>
    <div class="div_tools_box">
             
    <label class="main">Цифры 0-9
        <input type="checkbox">
        <span class="geekmark"></span>
    </label>
      
    <label class="main">Строчные буквы a-z
        <input type="checkbox" checked="checked">
        <span class="geekmark"></span>
    </label>
      
    <label class="main">Заглавные буквы A-Z
        <input type="checkbox">
        <span class="geekmark"></span>
    </label>

    <label class="main">Спец. символы %, *, ),?, @, #, $, ~
        <input type="checkbox">
        <span class="geekmark"></span>
    </label>

    <label class="main">Избегать повторяющихся символов
        <input type="checkbox">
        <span class="geekmark"></span>
    </label>
   
        <!-- <div class="tools_box"></div><p class="words_tools_box">Цифры 0-9</p><br>
        <br><div class="tools_box"> <p class="words_tools_box">Строчные буквы a-z</p></div><br>
        <br><div class="tools_box"><p class="words_tools_box">Заглавные буквы A-Z</p> </div><br>
        <br><div class="tools_box"> <p class="words_tools_box">Спец. символы %, *, ),?, @, #, $, ~</p></div><br>
        <br><div class="tools_box"> <p class="words_tools_box">Избегать повторяющихся символов</p></div> -->
    </div>
    <button class="generic_button">Сгенерировать</button>
    <div class="rest"><p class="tools_words">Сгенерированные пароли</p></div>
    <div class="generation">
        <li>Sj6ZZ5mlINUr</li><br>
        <li>ZLBptGKFM4Ibr</li><br>
        <li>FenglGuCTlDQr</li><br>
        <li>6JQjtzfo14Kgr</li><br>
        <li>lNnk6lOGzszQr</li>
    </div>
    <button class="save_button">Сохранить</button>
</form>
{% endblock %}