{% extends 'main/layout.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<form class="register_form">
<div class="logo_form"></div>
    <p class="words_for_form">Вход в профиль PassSec</p>
    <p class="words_for_form2">Храните пароли в надёжном месте</p>

    <div class="div_form">
        <p class="register_form2">Введите адрес эл. почты</p><br>
        <br><p class="register_form2">Введите пароль</p><br>
        <br><p class="register_form2">Повторите пароль</p>
    </div>
    <button class="button_form">Зарегистрироваться</button>
    <p class="words_for_form3">Или зарегистрируйтесь через</p>
    <div class="firms_logo"></div>
    <p class="words_for_form4">Уже есть аккаунт?<a href='{% url 'authorization' %}'>Войти </a></p>
</form>

{% endblock %}