.data_base_form {
    position: absolute;
    width: 940px;
    height: 500px;
    left: 490px;
    top: 115px;

    background: #FFFFFF;
    border-radius: 20px;
}
.data_base_header {
    position: absolute;
    width: 361px;
    height: 55.21px;
    left: 30%;
    top: 5%;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 55px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #2B2B2B;
}

.column {
    position: absolute;
    width: 700px;
    height: 19px;
    left: 15%;
    top: 100px;
    word-spacing: 200px;
}

.db{
    position: absolute;
    width: 670px;
    height: 210px;
    left: 10%;
    top: 30%;
    background-image: url('../img/data_base.png');
}
