body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}


body{
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
}


.logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    background-image: url('../img/logo.png');
    position: absolute;
    width: 176px;
    height: 63px;
    left: 330px;
    top: 12px;
}
.logo2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    background-image: url('../img/logo2.png');
    position: absolute;
    width: 156px;
    height: 43px;
    left: 80%;
    top: 22px;
}
.words_for_top_nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    font-size: 25px;
    position: absolute;
    width: 840px;
    height: 39px;
    right: 0%;
    top: 34px;
}


.words_for_bot_nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    font-size: 20px;
    position: absolute;
    width: 1040px;
    height: 39px;
    right: 40%;
    top: 24px;
}
.top_navigation {
    background-color: #F7A80A;
    width: 100%;
    height: 10vh;
    top: 0;
    display: flex;
    position: fixed;
    border-bottom: 5px solid #4d4d4d;
    box-shadow: 0px 4px 20px rgba(247, 168, 10, 0.2);
    border-radius: 0px 0px 43.5px 43.5px;
}
.bot_navigation {

    width: 100%;
    height: 10vh;
    top: 90%;
    display: flex;
    position: fixed;
    border-bottom: 5px solid #4d4d4d;
    background: #FFFFFF;
    box-shadow: 0px -4px 20px rgba(247, 168, 10, 0.2);
    border-radius: 43.5px 43.5px 0px 0px;
}
